.p-bloc {

    &--travel {

        margin: 0 auto;

        .travel-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 60px;


            .travel-bloc {
                width: 340px;
                margin-bottom: 40px;

                &__img-box {
                    width: 340px;
                    height: 359px;
                }

                &__txt-box {
                    background-color: #1f241e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0px;

                    .txt-box {
                        width: 280px;

                        .profile {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 10px;


                            &__logo {
                                width: 28px;
                                height: 28px;
                                margin-right: 10px;
                            }

                            p {
                                font-size: 14px;
                                line-height: 24px;
                                font-family: $font-muli, 400;
                            }

                        }

                        p {
                            font-family: $font-muli, 400;
                            font-size: 18px;
                            color: $colorwhite;
                            line-height: 28px;
                            margin-bottom: 10px;
                        }

                        .date {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            p {
                                font-size: 14px;
                                letter-spacing: 0.44px;
                                color: #757D8C;
                                line-height: 24px;
                            }

                            .path {
                                width: 15px;
                                height: 15px;

                            }
                        }
                    }
                }
            }
        }
    }

    &--gallery {

        .gallery-logo {
            width: 100%;
            height: 550px;
            background-image: url('../img/raido.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .gallery-photo {
            margin-top: 40px;

            //margin: 0 auto;
            .photo-wrap {



                .photo-bloc {
                    position: relative;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    transition: all 0.3s;
                    margin: 0 20px;

                    &__txt-box {
                        width: 100%;
                        background-color: transparent;
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%);
                        display: block;

                        h4 {
                            font-size: 34px;
                            color: $colorwhite;
                            font-weight: 700;
                            font-family: $font-pd;
                            line-height: 44px;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 300;
                            font-family: $font-muli;
                            line-height: 26px;
                            color: $colorwhite;
                        }
                    }

                }

                // *{
                //     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                // }

            }

            .slick-slider button {
                position: absolute;
                top: 32%;
                outline: "none";
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 35px;
                background-color: black;
                color: white;
                z-index: 99;
            }

            .slick-slider .slick-prev {
                left: 0px;
                font-size: 0;
            }

            .slick-slider .slick-prev::before {
                content: '<';
                line-height: 1;
                font-size: 25px;
            }



            .slick-slider .slick-next {
                right: 0px;
                font-size: 0;
            }

            .slick-slider .slick-next::after {
                content: '>';
                line-height: 1;
                font-size: 25px;
            }



            .slick-dots {
                text-align: center;
            }

            .slick-dots li {
                display: inline-block;
                padding: 1px;
                background-color: #ccc;
                margin: 10px 5px;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                cursor: pointer;
            }

            .slick-dots button {
                display: none;
            }

            .slick-dots li.slick-active {
                background: #000;
            }

            .slick-slider img {
                width: 100%;
                height: 400px;
            }



            .slick-slide {
                padding: 40px 0;
                position: relative;
                height: auto !important;
                opacity: 0.5;
                transition: all 900ms ease;
            }

            .slick-current {
                opacity: 1;
                transform: scale(1.2);
                z-index: 99;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .slick-slide .xyz {
                opacity: 0;
            }

            .slick-current .xyz {
                opacity: 1;
            }

            .slick-current .photo-bloc {
                position: relative;

                &__txt-box {
                    width: 100%;
                    background-color: transparent;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translate(-50%);
                    display: block;

                    h4 {
                        font-size: 34px;
                        color: $colorwhite;
                        font-weight: 700;
                        font-family: $font-pd;
                        line-height: 44px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 300;
                        font-family: $font-muli;
                        line-height: 26px;
                        color: $colorwhite;
                    }
                }
            }

        }
    }
}